<div class="js-gallery-carousel carousel">
	<ol class="carousel__list">

	{{#each imgs}}
		<li>

			<div class="fit-img">
				<img class="lazy clickable" src="/images/primary/placeholder/loading.gif"
				data-original="{{src}}">
			</div>

		</li>
	{{/each}}

	</ol>
	<div class="carousel__buttons carousel__buttons--medium">
		<i class="carousel__previous" data-goto="--"></i>
		<i class="carousel__next" data-goto="++"></i>
	</div>
</div>
