<div class="js-gallery-carousel carousel">
  <ol class="carousel__list">

  {{#each imgs}}
    <li>

      <div class="fit-img">
        <img class="lazy clickable" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
        data-original="{{src}}">
      </div>

    </li>
  {{/each}}

  </ol>
</div>
