<div class="js-gallery-carousel carousel">
  <ul class="carousel__list">

  {{#each imgs}}
    <li>

      <div class="fit">
        <img class="lazy clickable"
          data-original="{{src}}"
          {{#each screens}}
            data-{{screen}}="{{src}}"
          {{/each}}
          >
      </div>

    </li>
  {{/each}}

  </ul>
</div>
